.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer > div:first-child {
  display: flex;
}

.headerContainer > div:first-child > div button {
  font: 500 14px var(--mainFont);
  border: 1px solid var(--mainColor);
  border-radius: 8px;
  padding: 10px;
  height: 38px;
  background-color: transparent;
}

.headerContainer > div:first-child > div:first-child button {
  color: var(--mainColor);
  transition: all 0.5s;
}

.headerContainer > div:first-child > div:last-child button {
  border-left: none;
  border-color: rgba(244, 233, 233, 0.491);
  transition: all 0.5s;
}

.headerContainer > div:first-child > div:last-child button:hover {
  color: var(--mainColor);
  border-color: var(--mainColor);
}

.headerContainer > div:first-child > div:first-child button:hover {
  color: black;
  border-color: rgba(244, 233, 233, 0.491);
}

.headerContainer > div:last-child {
  display: flex;
  align-items: center;
  gap: 58px;
}

.headerContainer > div:last-child > div:first-child {
  display: flex;
  align-items: center;
  gap: 6px;
}

.onlaynOdenis {
  font: 500 14px var(--mainFont);
}

.headerContainer {
  padding: 14px 0 20px 0;
}

.headerMenu .btn:first-child:active,
.headerMenu .dropdown-center:focus-visible {
  border: none;
  outline: none;
}
