.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer > div:first-child {
  display: flex;
}

.headerContainer > div:first-child > div button {
  font: 500 14px var(--mainFont);
  border: 1px solid var(--mainColor);
  border-radius: 8px;
  padding: 10px;
  height: 38px;
  background-color: transparent;
}

.headerContainer > div:first-child > div:first-child button {
  color: var(--mainColor);
  transition: all 0.3s;
}

.headerContainer > div:first-child > div:last-child button {
  border-left: none;
  border-color: rgba(244, 233, 233, 0.491);
  transition: all 0.3s;
}

.headerContainer > div:first-child > div:last-child button:hover {
  color: var(--mainColor);
  border-color: var(--mainColor);
}

.headerContainer > div:last-child {
  display: flex;
  align-items: center;
  gap: 58px;
}

.headerContainer > div:last-child > div:first-child {
  display: flex;
  align-items: center;
  gap: 6px;
}

.onlaynOdenis {
  font: 500 14px var(--mainFont);
}

.headerContainer {
  padding: 14px 0 20px 0;
}

.headerMenu .btn:first-child:active,
.headerMenu .dropdown-center:focus-visible {
  border: none;
  outline: none;
}
hr {
  box-shadow: 0px 2px 4px 0px #6969691f;
}

.search-box img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.6;
  pointer-events: none;
  color: #f3f3f3;
}

.search-box input {
  width: 100%;
  padding: 8px 10px 8px 35px;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  outline: none;
  color: var(--mainColor);
}
.search-box {
  position: relative;
  width: 200px;
  font: var(--mainFont);
}
.secimler a {
  color: black;
  text-decoration: none;
}
.bookACall hr {
  box-shadow: 0px 2px 4px 0px #6969691f;
}
.bookACall button {
  display: flex;
  background-color: #ffcc4d;
  border: none;
  height: 36;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  gap: 10px;
  opacity: 1;
  border-radius: 8px;
  color: white;
}
.bookACall div:last-child {
  margin-top: 5px;
}
.firstsection > div > ul {
  display: flex;
}
.firstsection > div > ul > li:not(:last-child):after {
  content: url(/assets/image/icon/sagaox.png);
  margin: 2.5px 8px 0px 8px;
}
.firstsection > div > ul > li:last-child a {
  color: #b8b8b8;
}
.navContainer {
  display: flex;
  justify-content: space-between;
}
.navContainer > div:last-child {
  display: flex;
  align-items: center;
  gap: 100px;
}
.navContainer > div:last-child > div:first-child {
  display: flex;
  align-items: center;
}
.navigathionElement {
  display: flex;
  gap: 100px;
}
.navigathionElement > div > ul {
  display: flex;
  align-items: center;
}
.secondsection a {
  font-family: var(--mainFont);
}
.secondsection > ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 34px;
}
.secondsection .komandamız {
  color: #ffcc4d;
  text-decoration: underline;
}
.secondsection li > a:hover {
  color: #ffcc4d;
  text-decoration: underline;
}
.secondsection li > a {
  transition: all 0.3s;
}
.thirthsection {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
.thirthsection p {
  font-family: var(--mainFont);
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
}
.thirthsection svg {
  margin-top: 25px;
}
.fourthsection > ul p {
  color: #4c4c4c;
}
.fourthsection {
  font-family: var(--mainFont);
}
.firstsection > ul > li > div > img {
  width: 392;
  height: 430;
  opacity: 1;
}
.aboutTeam > ul > li > div:first-child a {
  width: 100%;
}

.aboutTeam > ul > li > div:first-child a img {
  width: 100%;
}

.aboutTeam > ul > li > div:first-child a {
  display: flex;
  justify-content: center;
}

.teamSection {
  margin-top: 38px;
}

.teamTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 37px;
}

.teamTitle div:last-child p {
  font: 600 32px var(--mainFont);
  color: #111827;
}

.aboutTeam > ul > li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.aboutTeam > ul > li > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.aboutTeam > ul > li > div:last-child > div:first-child h2 {
  font: 500 20px var(--mainFont);
  color: #111827;
}

.aboutTeam > ul > li > div:last-child > div:last-child p {
  font: 400 16px var(--mainFont);
  color: #4c4c4c;
}

.aboutTeam > ul > li {
  margin-bottom: 38px;
}

.aboutImage {
  border: 1px solid #e4e4e4;
  border-radius: 8px;
}

.aboutTeam > ul > li > div:first-child {
  background-position-y: 78px;
  background-position-x: right;
  background-size: 50%;
}

.aboutTeam > ul > li:nth-child(3n + 1) > div:first-child {
  background-image: url("/assets/image/decor.png");
  background-repeat: no-repeat;
}

.aboutTeam > ul > li:nth-child(3n + 2) > div:first-child {
  background-image: url("../image/decor.png");
  background-repeat: repeat-x;
}

.aboutTeam > ul > li:nth-child(3n + 3) > div:first-child {
  background-image: url("../image/decor.png");
  background-position-x: left;
  background-repeat: no-repeat;
}

.aboutTeam > ul > li:nth-child(3) > div:first-child {
  background-image: url("../image/decor2.png");
}

.aboutTeam img {
  color: #4c4c4c;
}

.socialmedia {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.fixedBox {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.281);
}
nav {
  margin-top: 70px;
}

.faqFooter {
  background-color: var(--mainColor);
  padding: 34px 0px;
  margin-top: 200px;
}

.faqFooter > div > div:first-child {
  display: flex;
  justify-content: space-between;
}

.faqFooter > div > div:last-child {
  display: flex;
  justify-content: center;
  color: #b38304;
  margin-top: 40px;
}

.faqFooter > div > div:nth-child(2) {
  margin-top: 100px;
}

.faqFooter > div > div:last-child a {
  color: #b38304;
}

.footerLinksTitle p {
  color: #312402;
  font: 600 20px var(--mainFont);
}

.faqFooter ul li a {
  color: #785801;
  font: 300 14px var(--mainFont);
}

.faqLinks {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px;
}

.faqLinksLast {
  gap: 14px;
}

.hamisinabax {
  margin-top: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.hamisinabax button {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #312402;
  font: 500 14px var(--mainFont);
}

.hamisinabax img {
  margin-top: 2px;
}

.socialLinks {
  margin-top: 30px;
}

.socialLinks ul {
  display: flex;
  gap: 24px;
}

.navBoxShadow {
  box-shadow: 0px 2px 4px 0px #6969691f;
}
