.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer > div:first-child {
  display: flex;
}

.headerContainer > div:first-child > div button {
  font: 500 14px var(--mainFont);
  border: 1px solid var(--mainColor);
  border-radius: 8px;
  padding: 10px;
  height: 38px;
  background-color: transparent;
}

.headerContainer > div:first-child > div:first-child button {
  color: var(--mainColor);
  transition: all 0.3s;
}

.headerContainer > div:first-child > div:last-child button {
  border-left: none;
  border-color: rgba(244, 233, 233, 0.491);
  transition: all 0.3s;
}

.headerContainer > div:first-child > div:last-child button:hover {
  color: var(--mainColor);
  border-color: var(--mainColor);
}

.headerContainer > div:last-child {
  display: flex;
  align-items: center;
  gap: 58px;
}

.headerContainer > div:last-child > div:first-child {
  display: flex;
  align-items: center;
  gap: 6px;
}

.onlaynOdenis {
  font: 500 14px var(--mainFont);
}

.headerContainer {
  padding: 14px 0 20px 0;
}

.headerMenu .btn:first-child:active,
.headerMenu .dropdown-center:focus-visible {
  border: none;
  outline: none;
}
hr {
  box-shadow: 0px 2px 4px 0px #6969691f;
}

.search-box img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.6;
  pointer-events: none;
  color: #f3f3f3;
}

.search-box input {
  width: 100%;
  padding: 8px 10px 8px 35px;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  outline: none;
  color: var(--mainColor);
}
.search-box {
  position: relative;
  width: 200px;
  font: var(--mainFont);
}
.secimler a {
  color: black;
  text-decoration: none;
}
.bookACall hr {
  box-shadow: 0px 2px 4px 0px #6969691f;
}
.bookACall button {
  display: flex;
  background-color: #ffcc4d;
  border: none;
  height: 36;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  gap: 10px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 8px;
  color: white;
}
.bookACall div:last-child {
  margin-top: 5px;
}
.firstsection  > ul {
  display: flex;
}
.firstsection > ul > li:not(:last-child):after {
  content: url(../image/icon/sagaox.png);
  margin: 2.5px 8px 0px 8px;
}
.firstsection > ul > li:last-child a {
  color: #b8b8b8;
}
.navContainer {
  display: flex;
  justify-content: space-between;
}
.navContainer > div:last-child {
  display: flex;
  align-items: center;
  gap: 100px;
}
.navContainer > div:last-child > div:first-child {
  display: flex;
  align-items: center;
}
.navigathionElement {
  display: flex;
  gap: 100px;
}
.navigathionElement > div > ul {
  display: flex;
  align-items: center;
}
.fixedBox {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.281);
}
nav {
  margin-top: 70px;
}
html {
  scrollbar-color: var(--mainColor) #f1f1f1; 
  scrollbar-width: thin; 
}
.items{
  margin-right: 900px;
}
